.main-chat
  .main-chat__header
    .left-header
      .left-header__group
        = @group.name
      .left-header__membername
        Member : 
        %li.menber
          - @group.group_users.each do |group_user|
            = group_user.user.name
    
    .right-header
      = link_to edit_group_path(@group.id), class: "btn" do
        Edit
  .main-chat__message
    = render @messages

  .main-chat__form
    = form_for [@group, @message], html: {class: "main-chat__form__new"} do |f|
      .main-chat__form__body
        = f.text_field :body, class: "main-chat__form__body--text", id: "new_message", placeholder: "type a message"
        .main-chat__form__body--hidden
          = f.label :image, class: "main-chat__form__body--image" do
            = icon('far', 'image', class: "size")
          = f.file_field :image, class: "hidden"
      .main-chat__form__submit
        = f.submit "Send", class: "submit-btn"
        
      