.main-chat
  .main-chat__header
    .left-header
      .left-header__group
        個人
      .left-header__membername
        Menber : tomomi
    
    .right-header
      = link_to "Edit","#", class: "btn"
  .main-chat__message
    .message-group
      = @messages.each do |message|
        .message-group__info
          .name
            tomomi
          .time
            = message.created_at
        .message-group__body
          = message.body

  .main-chat__form
    .message--form
      .form
        = form_for(@message)do |f|
          = f.text_field :body, class: "form__message", id: "new_message", placeholder: "type a message"
          .form__mask
            = f.label :image, class: "form__mask__image" do
              =icon('far', 'image')
              =f.file_field :image, class: "hidden"
          = f.submit "Send", class: "form__submit"