-# メッセージ全体にidを付与。   ※#{message.id}はjbuilderファイルで定義している
.message-group{"data-message-id": "#{message.id}"}
  .message-group__info
    .name
      = message.user.name
    .time
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .message-group__body
    - if message.body.present?
      %p.lower-message__body
        = message.body
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?